.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

#employee-div {
    width: 1140px;
    margin: auto;
}

/* .gradient {
    height: 100bh;
    background-color: blue; 
    background-image: linear-gradient(to right, #0052b0 ,#b340b3); 
  } */


.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 75%;
    background-color: #ffffff;
}

.datapicker-input input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.fieldset {
    border: 1px solid #ced4da;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    border-radius: 0.375rem;
}

.fieldset legend {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    float: none;
}

.button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}